.writing_div {
  background: #ffffa3;
  text-align: center;
  margin: 10px 20px;
  padding: 50px 20px;
  display: flex;
  flex-flow: column;
  word-wrap: break-word;
  width: 30%;
  min-width: 20rem;
  max-width: 20rem;
  position: relative;
}

.writing_title {
  color: #343a40;
}

.writing_text {
  flex: 1;
  max-width: 30px;
}

.read-more-btn {
  margin-bottom: 15px;
  position: relative;
  bottom: 0px;
}

.author-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 5px;
  border-top: 3px solid #6c757d;
  background-color: #d6d68c;
}

.writing-profile-picture {
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  overflow: hidden;
  border-radius: 50%;
}

.writing-profile-picture img {
  width: 100%;
  height: 100%;
}

.author-info p {
  font-size: 15px;
  margin: auto 5px;
  color: #6c757d;
}

.writing_buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50px;
  justify-items: center;
  align-items: stretch;
  margin: auto;
}

.writing_buttons span {
  margin: 0 5px;
  color: #6c757d;
}

.writing_buttons span i {
  cursor: pointer;
  color: #6c757d;
}

.writing_buttons span .comment_btn,
.writing_buttons span .comment_btn:hover,
.writing_buttons span .comment_btn:active {
  border: none;
  background: none;
  box-sizing: border-box;
  outline: 0;
  padding: 0px;
}

@media only screen and (max-width: 1200px) {
  .writing_div {
    width: 45%;
  }
}

@media only screen and (max-width: 800px) {
  .writing_div {
    width: 100%;
  }
}
