.genres_div {
  margin: 20px auto;
  /* background: yellow; */
  /* display: flex;
  flex-direction: row; */
  width: 90%;
}
/* 
div.column {
  background: blue;
}

.column img {
  width: 50px;
  height: 50px;
} */
